In [2]:
import sqlite3;

con = sqlite3.connect("first.db")
cursor = con.cursor()

cursor.execute('''CREATE TABLE IF NOT EXISTS people (
                    id INTEGER PRIMARY KEY AUTOINCREMENT,
                    name TEXT,
                    age INTEGER,
                    salary INTEGER
                )''')

con.commit()

In [3]:
import sqlite3;

con = sqlite3.connect("first.db")
cursor = con.cursor()

data = [("Ладюша", 18, 400), ("Дилярушка", 17, 500), ("Лейладжон", 14, 500), ("Аделинаджон", 16, 1000), ("Элинушка", 19, 500), ("Анюша", 15, 1000), ("Эльзахон", 17, 2000), ("Амалишка", 18, 1700), ("Сонюша", 16, 2540), ("Каринушка", 16, 1890), ("Луизахон", 18, 2570), ("Настюша (Шеф)", 14, 1698), ("Иделиябону", 19, 2578)]
cursor.executemany("INSERT INTO people (name, age, salary) VALUES (?, ?, ?)", data)

con.commit()

In [4]:
# На LIMIT 1)
import sqlite3;

con = sqlite3.connect("first.db")
cursor = con.cursor()

cursor.execute("SELECT * FROM people")
count = 0
for person in cursor.fetchall():
    print(f"{count + 1}. Name: {person[1]}, Age: {person[2]}, Salary: {person[3]}")
    count += 1
    if count == 6:
      break

1. Name: Ладюша, Age: 18, Salary: 400
2. Name: Дилярушка, Age: 17, Salary: 500
3. Name: Лейладжон, Age: 14, Salary: 500
4. Name: Аделинаджон, Age: 16, Salary: 1000
5. Name: Элинушка, Age: 19, Salary: 500
6. Name: Анюша, Age: 15, Salary: 1000